POSTGRES_DB=url_shortener
POSTGRES_USER=url_shortener
POSTGRES_PASSWORD=url_shortener

DB_URL=jdbc:postgresql://postgres:5432/url_shortener
DB_USERNAME=url_shortener
DB_PASSWORD=url_shortener

REDIS_HOST=redis
REDIS_PORT=6379